# Fichiers système Mac
.DS_Store

# Fichiers système Windows
Thumbs.db

# Dossiers d'éditeurs
.vscode/
*.swp
*.swo

# Dépendances (si ajoutées plus tard)
node_modules/

# Fichiers temporaires
*.tmp
*.log